body {
    background-color: #111;
    /*background-image: url(./resources/bg.jpg);*/
    background-size: contain;
    color: #EEEEEE;
    font-family: Questrial, sans-serif;
}
#wrapper {
    padding: 60px;
}
h1 {
    font-size: 3em;
    letter-spacing: .6;
    margin: 0px;
    margin-top: -55px;
    padding-bottom: 30px;
}
h2 {
    font-size: 1.2em;
    margin-bottom: 40px;
}

h4 {
    font-size: 1.3em;
    margin-top: 15px;
    margin-bottom: 5px;
}
p {
    margin: 0px auto;
}

.sidenav {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 70;
    left: 70;
    overflow-x: hidden;
    padding-top: 70px;
    text-align: center;
}

.sidenav a {
    text-decoration: none;
    font-size: 1em;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

#title, #director, #year, #image {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    width: 260px;
    margin-bottom: 15px;
    font-size: 1em;
    font-family: Questrial, sans-serif;
}

input[type=text]::placeholder {
    color: #FFF;
    opacity: 0.8;
}
textarea:focus, input:focus{
    outline: none;
}
input:focus { color: white }

input, select, textarea{
    color: #FFF;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

label {
    font-size: 0.9em;
}


/* Add movie form */
#add-movie {
    background-color: transparent;
    width: 100%;
    height: 400px;
    text-align: left;
}

#add {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: Questrial;
    font-size: 1em;
    width: 230px;
    font-size: 2em;
    outline:none;
}

#add:hover {
    transform: scale(1.1);
}

#sort {
    display: none;
}

.removemovie {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1em;
    float: right;
    margin-top: -20px;
    cursor: pointer;
}
.removemovie:hover {
    transform: scale(1.2);
}

#add:hover {
    background-color: transparent;
    color: white;
    transition: 0.3s;
    outline:none;
}
#add:active {
    transform: translateY(4px);
    outline:none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
    font-size: 0.8em;
    letter-spacing: 1px;
}

/*SEARCHBAR*/





/*movie divs*/

#movie {
    display: flex;
    width: 1300px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 380px;
}
.movies div {
    padding: 20px;
}
.movies:nth-child(0) {
    flex: 1; 
}
.movies:nth-child(1) {
    flex: 1; 
}
.movies:nth-child(2) {
    flex: 1; 
}
.movies:nth-child(3) {
    flex: 1; 
}
.movies:nth-child(4) {
    flex: 1; 
}
.movies:nth-child(5) {
    flex: 1; 
}
.movies:nth-child(6) {
    flex: 1; 
}
.movies:nth-child(7) {
    flex: 1; 
}
.movies img {
    width: 280px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 30px 0 rgba(0, 0, 0, 0.7);
}


/* Pagination links */
.pagination {
    display: inline-block;
    margin-top: 20px;
    margin-left: 1380px;
}
.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: darkred;}
